<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:'User Add'}) %>

  <body>
    <%- include('./partials/header',{position:"relative"}) %>
      <main class="mt-5">
        <div class="container">

          <form class="row col-8 m-auto mt-4" action="/store" method="POST">
            <div class="mb-3 col-12">
              <label class="form-label">email</label>
              <input type="email" class="form-control" name="email">
            </div>

            <div class="mb-3 col-12">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3 col-12">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="first_name">
            </div>

            <div class="mb-3 col-12">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" name="last_name">
            </div>


            <button type="submit" class="btn btn-primary col-12">Submit</button>
          </form>
        </div>
      </main>
  </body>

</html>